.post-list {
  .post-list-item {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    .discuss {
      cursor: pointer;
      p {
        margin: 0;
        text-transform: uppercase;
      }
    }
    .post-details {
      .second-row {
        font-size: .9rem;
      }
    }
    .post-buttons {
      padding-top: .7rem;
      .edit-post-btn {
        margin-bottom: .5rem;
      }
    }
    form {
      margin-top: 1rem;
      background: #f5f5f5;
      border: 1px solid #e0e0e0;
    }
  }
}
